@use "@angular/material" as mat;

$typography: mat.m2-define-typography-config();
$density: 0;

$primary: mat.m2-define-palette(mat.$m2-indigo-palette, 600);
$accent: mat.m2-define-palette(mat.$m2-teal-palette, 500);
$warn: mat.m2-define-palette(mat.$m2-red-palette, 600);

$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $typography,
    density: $density,
  )
);

@include mat.core();
@include mat.all-component-themes($theme);

:root {
  --app-bg: #f6f7f9;
  --card-radius: 16px;
}
